


.callout-dark {
	padding: 30px;
	color: #fff;
	background-color: #252525;
  }


.info-container{
  background-color: black;
}

.products li:hover {
      color: #607D8B;
      left: .1em;

    }

ul.products {
  list-style:none;
  overflow:hidden;
}

div.container {
  width:85%;
  margin:auto;
  border: none;
}


.responsive {
  font-size: 16px;
  display: inline-block;
  margin-bottom: 8px;
  width: calc(50% - 4px);
  margin-right: 8px;
  text-decoration: none;
  color: black;
  float: left;



}

.responsive:nth-of-type(2n) {
  margin-right: 0;
}

@media screen and (min-width: 50em) {
  .responsive {
    width: calc(25% - 6px);
  }

  .responsive:nth-of-type(2n) {
    margin-right: 8px;
  }

  .responsive:nth-of-type(4n) {
    margin-right: 0;
  }
}

.responsive:hover img {
  transform: scale(1.15);
  -webkit-filter: brightness(115%);
    filter: brightness(115%);
}

.imagen {
  margin: 0;
  overflow: hidden;
}

.desc {
   padding: 15px;
   text-align: center;
   background-color: #f9f9f9;
   color: #929292;
}

img {
  border: none;
  max-width: 100%;
  height: auto;
  display: block;
  background: #ccc;
  transition: transform .2s ease-in-out;
}


.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}
	
	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}
	
	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}
	
	
	
	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}
	
}