

/* animation */



.image-wrap {
	position: relative;
	float: left;
	width: 100%;
	height: 200px;
	margin: 5px;
	padding: 5px;
	z-index: 0;
}


/* Make sure z-index is higher on hover */
/* Ensure that hover image overlapped the others */
.image-wrap:hover {
	z-index: 5;
}


/* Image is position nicely under li */
.image-width {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
	background: #f0f0f0;
}

.image-width:hover {
	width: 200%;
	height: auto;
	top: 25%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.image-wrap, .image-width{
	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	-o-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
}

.buttons-bar{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 5%;
	background-color: rgba(0,0,0,0.4);
}
/*--------------------------------------------*/
/*
div.box-image div {
	position: relative;
}

div.box-image div:hover {
	z-index: 10;
}

div.box-image div img:hover {
	z-index: 10;
}

div.box-image div, div.box-image div img {
	-webkit-transition: all 0.1s ease-in-out;
  	-moz-transition: all 0.1s ease-in-out;
  	-o-transition: all 0.1s ease-in-out;
  	transition: all 0.1s ease-in-out;
}

div.box-image div img:hover {
	width: 500px;
	height: 400px;
	margin-top: 0px;
	margin-left: 0px;
	top: 65%;
	left: 65%;
}*/

.custom-box {
	margin-top: 20%
}

.custom-container {
	background-image: url("../../../assets/images/background-images.jpg");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;

}

.container {

}

.margin-custom{
	
}