

/* animation */



.image-wrap {
	position: relative;
	float: left;
	width: 100%;
	height: 0px;
	margin: 5px;
	padding: 5px;
	padding-bottom: 80%;
	z-index: 0;
}


/* Make sure z-index is higher on hover */
/* Ensure that hover image overlapped the others */
.image-wrap:hover {
	z-index: 5;
}


/* Image is position nicely under li */
.image-width {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
	background: #f0f0f0;
}

.image-width:hover {
	width: 200%;
	height: auto;
	top: 25%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.image-wrap, .image-width{
	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	-o-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
}

.buttons-bar{
	display: none;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: auto;
	background-color: rgba(0,0,0,0.8);
	
}

.image-wrap:hover .buttons-bar{
	display: inherit;
}

.inner-icons{
	text-align: center;
	font-size: 21px;
	color: #f0f0f0 !important;
}

.inner-icons a{

	color: #f0f0f0;
	text-decoration: none;
}

.inner-icons a:hover, .inner-icons a:focus {

	color: red;
	text-decoration: none;
}


/* Bounce In */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

/*--------------------------------------------*/
/*
div.box-image div {
	position: relative;
}

div.box-image div:hover {
	z-index: 10;
}

div.box-image div img:hover {
	z-index: 10;
}

div.box-image div, div.box-image div img {
	-webkit-transition: all 0.1s ease-in-out;
  	-moz-transition: all 0.1s ease-in-out;
  	-o-transition: all 0.1s ease-in-out;
  	transition: all 0.1s ease-in-out;
}

div.box-image div img:hover {
	width: 500px;
	height: 400px;
	margin-top: 0px;
	margin-left: 0px;
	top: 65%;
	left: 65%;
}*/


.custom-box {
	margin-top: 20%;
}

@media all and (max-width: 460px) {
	.custom-box {
	margin-top: 30%;
	}

 }

 @media all and (max-width: 300px) {
	.custom-box {
	margin-top: 38%;
	}

 }
 
.custom-container {
	background-image: url("../../../assets/images/background-images-white.jpg");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}

.container {

}

.margin-custom{
	
}