<div class="custom-container">
	<div class="container ">
		<div class="row portfolio custom-box">

			<div class="col-sm-6 col-md-3" *ngFor="let photo of urlLocalPhotos">
				

				<div class="image-wrap">

					<div class="image-width">

						<a (click)="onSelect(photo)"><img src="{{photo}}" class="img-thumbnail"></a>

						<div class="buttons-bar">
							ashdashdhas
						</div>
					</div>

					

				</div>


					<!--
					<div class="text">
						<p class="buttons">
							<a href="" class="btn btn-template-transparent-primary">
							Add to cart
							</a>
							<a class="hidden btn btn-template-transparent-primary"></a>
							<a href="" class="btn btn-template-transparent-primary">
								Add to wishlist
							</a>
						</p>
					</div>
					-->
				
			 </div>
		</div>
	</div>
</div>