<div id="aboutus">
    

    <!-- *** LOGIN MODAL END *** -->

        <div id="heading-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1>About us</h1>
                    </div>
                    <div class="col-md-5">
                        <ul class="breadcrumb">
                            <li><a href="index.html">Home</a>
                            </li>
                            <li>About us</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <div id="content">
            <div class="container">

                <section>
                    <div class="row">
                    <div class="col-md-2">
                    </div>
                        <div class="col-md-8">

                            <div class="heading text-center">
                                <h2>Welcome to RusticStock</h2>
                            </div>

                            <p class="lead text-justify">Welcome to RusticStock, a 100% Colombian media bank that offers real, autonomous and original content. Take a look! We will rock your world. We invite you to register and get caught up in our documentary-type exclusive content through previews, intelligent search and grouping by categories, which will make this your best experience with free audiovisual content rights.</p>

                        </div>
                    <div class="col-md-2">
                    </div>
                    </div>
                </section>
            </div>

            <section class="bar background-gray">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading text-center">
                                <h2>Our team</h2>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="image">
                                    <a href="team-member.html">
                                        <img src="/assets/img/alejo.jpg" alt="" class="img-responsive img-circle">
                                    </a> 

                                </div>
                                <h3><a href="team-member.html">Alejandro Arias</a></h3>
                                <p class="role">Project Manager</p>
                                <div class="social">
                                    <a href="https://www.facebook.com/alejandro.arias.526?fref=hovercard" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                                    <a href="https://plus.google.com/103568464898525273287" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                                    <a href="mailto: huaariasza@unal.edu.co" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                                </div>
                                <div class="text">
                                    <p>Systems Engineering student at Universidad Nacional de Colombia - Bogot&aacute;.</p>
                                </div>
                            </div>
                            <!-- /.team-member -->
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="image">
                                    <a href="team-member.html">
                                        <img src="/assets/img/ale.jpg" alt="" class="img-responsive img-circle">
                                    </a>

                                </div>
                                <h3><a href="team-member.html">Alejandra Zald&uacute;a</a></h3>
                                <p class="role">Scrum Master</p>

                                <div class="social">
                                    <a href="https://www.facebook.com/alejandra.zalduarodriguez" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                                    <a href="https://plus.google.com/114134051809343513427" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                                    <a href="https://twitter.com/alezaldua27" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                                    <a href="mailto: dzalduar@unal.edu.co" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                                </div>
                                <div class="text">
                                    <p>Systems Engineering student at Universidad Nacional de Colombia - Bogot&aacute;. </p>
                                </div>
                            </div>
                            <!-- /.team-member -->
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="image" id="rodrigo">
                                    <a href="team-member.html">
                                        <img src="/assets/img/rodri.jpg" alt="" class="img-responsive img-circle">
                                    </a>

                                </div>
                                <h3><a href="team-member.html">Rodrigo Espinel</a></h3>
                                <p class="role">Front-End Lead Developer</p>
                                <div class="social">
                                    <a href="https://www.facebook.com/RodEsV?fref=ts" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                                    <a href="https://plus.google.com/101825453478788339798" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                                    <a href="mailto: riespinelv@unal.edu.co" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                                </div>
                                <div class="text">
                                    <p>Systems Engineering student at Universidad Nacional de Colombia - Bogot&aacute;.</p>
                                </div>
                            </div>
                            <!-- /.team-member -->
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="image">
                                    <a href="team-member.html">
                                        <img src="/assets/img/theo.jpg" alt="" class="img-responsive img-circle">
                                    </a>

                                </div>
                                <h3><a href="team-member.html">Th&eacute;o Faure</a></h3>
                                <p class="role">Back-End Lead Developer</p>
                                <div class="social">
                                    <a href="https://www.facebook.com/theo.faure.5000?fref=ts" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                                    <a href="https://plus.google.com/+Th%C3%A9oFaure" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                                    <a href="https://twitter.com/theofaure1" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                                    <a href="mailto: theo.faure@insa-lyon.fr" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                                </div>
                                <div class="text">
                                    <p>Computer Science student and Information Technology at INSA Lyon, France. </p>
                                </div>
                            </div>
                            <!-- /.team-member -->
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="image">
                                    <a href="team-member.html">
                                        <img src="/assets/img/laura.jpg" alt="" class="img-responsive img-circle">
                                    </a>

                                </div>
                                <h3><a href="team-member.html">Laura Monz&oacute;n</a></h3>
                                <p class="role">Management<br> </p>
                                <div class="social">
                                    <a href="https://www.facebook.com/Arka160" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                                    <a href="https://plus.google.com/105512558915789526488" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                                    <a href="https://twitter.com/ArKa160" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                                    <a href="mailto: cdcordobaa@unal.edu.co" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                                </div>
                                <div class="text">
                                    <p>Business Administration student at Universidad Nacional de Colombia - Bogot&aacute;. </p>
                                </div>
                            </div>
                            <!-- /.team-member -->
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="image">
                                    <a href="team-member.html">
                                        <img src="/assets/img/angelica.jpg" alt="" class="img-responsive img-circle">
                                    </a>

                                </div>
                                <h3><a href="team-member.html">Ang&eacute;lica Pinto</a></h3>
                                <p class="role">Developer<br> </p>
                                <div class="social">
                                    <a href="https://www.facebook.com/CAp182?fref=ts" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                                    <a href="mailto: capenap@unal.edu.co" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                                </div>
                                <div class="text">
                                    <p>Business Administration student at Universidad Nacional de Colombia - Bogot&aacute;.</p>
                                </div>
                            </div>
                            <!-- /.team-member -->
                        </div>

                    </div>
                    <!-- /.row -->

                </div>
                <!-- /.container -->
            </section>

            <section class="bar background-white">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading text-center">
                                <h2>Our priorities</h2>
                            </div>

                            <p class="lead text-justify">Our highest priority is to satisfy our customers through functional software. Changes in requirements are welcome. Working software is the primary indicator of progress. The best way to get information and agree on it is a face to face meeting. The team adapts their behavior to improve our product.</p>

                            <ul class="owl-carousel customers">

                            </ul>
                            <!-- /.owl-carousel -->
                        </div>

                    </div>
                </div>
            </section>

            <section class="bar background-gray">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading text-center">
                                <h2>Why us?</h2>
                            </div>

                            <p class="lead text-justify">The digital content market is increasingly getting in place. Many companies seek this kind of material with the intention of creating advertising that allows them to obtain a competitive advantage over other players who do not use this form of advertising. In addition to the growing need to work with content whose foundation is in everyday life, needs to show this multimedia resource allows much closer to the real image and no representation of reality artificial and made up. We lack a stock option of indigenous audiovisual content, exploiting the enormous potential of our natural and human resources.</p>

                            <ul class="owl-carousel customers">

                            </ul>
                            <!-- /.owl-carousel -->
                        </div>

                    </div>
                </div>
            </section>


        </div>
        <!-- /#content -->

        <!-- *** FOOTER ***
_________________________________________________________ -->

        <footer id="footer">
            <div class="container">
                <div class="col-md-4 col-sm-6">
                    <h4>About us</h4>

                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

                    <hr>

                    <h4>Join our monthly newsletter</h4>

                    <form>
                        <div class="input-group">

                            <input type="text" class="form-control">

                            <span class="input-group-btn">

                        <button class="btn btn-default" type="button"><i class="fa fa-send"></i></button>

                    </span>

                        </div>
                        <!-- /input-group -->
                    </form>

                    <hr class="hidden-md hidden-lg hidden-sm">

                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-4">
                </div>

                <div class="col-md-4 col-sm-6">

                    <h4>Contact</h4>

                    <p><strong>123 Fake St.</strong>
                        <br>Fake apt num
                        <br>Fake city
                        <br>Fake zip code
                        <br>Colombia

                    </p>

                    <a href="contact.html" class="btn btn-small btn-template-main">Contact us</a>

                    <hr class="hidden-md hidden-lg hidden-sm">

                </div>
                <!-- /.col-md-3 -->


            </div>
            <!-- /.container -->
        </footer>
        <!-- /#footer -->

        <!-- *** FOOTER END *** -->

        <!-- *** COPYRIGHT ***
_________________________________________________________ -->

        <div id="copyright">
            <div class="container">
                <div class="col-md-12">
                    <p class="pull-left">&copy; 2016. RusticStock</p>
                    <p class="pull-right">Template by <a href="http://bootstrapious.com/free-templates">Bootstrapious</a> 
                        <!-- Not removing these links is part of the licence conditions of the template. Thanks for understanding :) -->
                    </p>

                </div>
            </div>
        </div>
        <!-- /#copyright -->

        <!-- *** COPYRIGHT END *** -->



    </div>



