.info-container {
  color: black;
  position: relative;
  z-index: 10;
  top: 1%;
  left: -2%;
  float: left;
}

.info-bar li {
  display: inline-block;
  padding: 0 10px;
}

.info-bar li a {
  color: black;
}

.info-bar li a:hover {
  text-decoration: none;
  color: #ccc;
  cursor: pointer;
  cursor: hand;
}

.info-bar ul li {
  border-right:  1px solid black;
}

.info-bar ul li:last-child {
  border-right:  none;
}
