
.detail-box {
	width: 400px;
	position: relative;
	margin-top: 10%;
	margin-left: 10%;
	float: left;
}

.box-container{
	position: relative;
	border: black;
	box-shadow: initial;
}
.content {
	background-position: center  center; 
  	background-size: fill;
  	min-width: 100%; 
  	overflow: hidden;

}
.custom-box {
	margin-top: 30%;
}

.text {
	color: black;
}
.bar { 
	border: solid;
	box-shadow: inset;
}

.img-responsive{
  margin-left: auto;
  margin-right: auto;
}

#heading-breadcrumbs {
  background: url('../assets/images/texture1.jpg') center center repeat;
  padding: 20px 0;
  margin-bottom: 40px;
}

.bar.background-gray {
  background: #DAD5C1;
  border-radius: 25px;
}
 
.text p {
  color: #574C3C;
  font-size: 16px;
  margin-bottom: 20px;
}

h3 {
  color: #574C3C;
  font-size: 20px;
  margin-bottom: 20px;
}

#role {
  color: #5B544A;
  font-size: 18px;
  margin-bottom: 20px;
}