<div class="custom-container">
	<div id="content">
		<div class="container">
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 text-center">
				<div class="box-container">
					<app-logo></app-logo>
				</div>
			</div>
			<div class="custom-box">
				<div class="row portfolio-project">
					<section>
						<div class="col-sm-8 col-m-12">
							<img src="{{image}}" class="img-responsive">
						</div>
						<div class="col-sm-4 col-m-12">
							<h4 class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </h4>
							<div class="col-sm-6 col-md-3">
								<div class="text">
									Location: xxxx
								</div>
								<div class="text">
									Size: xxxx
								</div>
								<div class="col-md-3">
									<button type="button" class="btn btn-danger btn-xs">Add to cart</button>
									<br>
									<button type="button" class="btn btn-danger btn-xs">Add to whislist</button>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>
