/*.custom-container {
	background-image: url("../../../assets/images/background-images.jpg");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
*/
.container{
	margin-top: 10%;
	width: 800px;
	height: auto;
}

.detail-box {
	width: 400px;
	position: relative;
	margin-top: 10%;
	margin-left: 10%;
	float: left;
}

.box-container{
	position: relative;
	border: black;
	box-shadow: initial;
}
.content {

}
.custom-box {
	margin-top: 30%;
}

.text {
	color: black;
}
.bar { 
	border: solid;
	box-shadow: inset;
}