<div id="photo-details">
        <div id="heading-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1>Details</h1>
                    </div>
                    <div class="col-md-5">
                        <ul class="breadcrumb">
                            <li><a href="index.html">Home</a>
                            </li>
                            <li>Details</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

			<div class="content">
				<div class="row portfolio-project">
					<section>
						<div class="col-md-6">
							<img src="{{image}}" class="img-responsive">
						</div>
						<div class="col-md-1">
						</div>
						<div class="col-md-3">
							<h4 class="text">This is one beautiful cat! </h4>
							
							<div class="col-md-12">
								<div class="text">
								<br>
									Location: Pending
								</div>
								<div class="text">
									Size: Pending
									<br>
									<br>
								</div>
								<div class="col-md-4">
									<button type="button" class="btn btn-danger btn-xs">Add to cart</button>
									<br>
									<br>
									<button type="button" class="btn btn-danger btn-xs">Add to wishlist</button>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
</div>
