/*
.box-search {
  margin-top: 40px;
}
*/

.box-search .input-group input {
  box-shadow: none;
  border: none;
}

/*
.box-search .input-group .input-group-addon {
  background-color: rgba(255, 255, 255, 0.8);
}
*/
/*
.border-flat {
  border-radius: 0;
}
*/
