
<h1>{{title}}</h1>

<div class="container">
   <ul class="products">
      <li *ngFor="let product of products"
        [class.selected]="product === selectedProduct"
        (click)="onSelect(product)">
        <div class="responsive">
          <div class="img">
            <img src={{product.file}} alt={{product.name}} class="img-thumbnail" width="100" height="100">
            <div class="desc">{{product.name}}</div>
          </div>
        </div>
       </li>
    </ul>
   </div>

    <div *ngIf="selectedProduct">
      <h2>Product Information</h2>
      <h2>{{selectedProduct.name}}</h2>

      <table>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Resolution</th>
          <th>Price</th>

       </tr>
      <tr>
        <td>{{selectedProduct.id}}</td>
        <td>{{selectedProduct.name}}</td>
        <td>{{selectedProduct.resolution}}</td>
        <td>{{selectedProduct.price}}$</td>
      </tr>
      </table>

    </div>
