<div class="left">
  <div class="admin-navbar-header">
    <h3>Options</h3>
  </div>
  <table class="table table-bordered">

    <tr>
      <td>
        <label (click)="onSelected('login')">
          Login
        </label>
      </td>
    </tr>

    <tr>
      <td>
        <label (click)="onSelected('preferences')">
          Preferences
        </label>
      </td>
    </tr>

    <tr>
      <td>
        <label (click)="onSelected('login')">
          Statistics
        </label>
      </td>
    </tr>

    <tr>
      <td>
        <label (click)="onSelected('upImg')">
          Upload Images
        </label>
      </td>
    </tr>

    <tr>
      <td>
        <label (click)="onSelected('upVid')">
          Upload Videos
        </label>
      </td>
    </tr>

    <tr>
      <td>
        <label (click)="onSelected('editGal')">
          Edit gallery
        </label>
      </td>
    </tr>
  </table>
</div>
