<div class="login-container">
    <div class="login-bar" *ngIf="!check()">
      <ul>
        <li><a (click)="modal.open()">Log in</a></li>
        <li><a (click)="modal.open()" >Sign up</a></li>
      </ul>
    </div>

    <div class="login-bar" *ngIf="check()">
      <ul>
        <li *ngIf="responseLogIn">
          <a>{{responseLogIn.json().data.email}}</a>
        </li>
        <li *ngIf="responseSignUp">
          <a>{{responseSignUp.json().data.email}}</a>
        </li>
          
        <li>
          <!--<a (click)="logOutUser()">Log out</a>-->
          <a (click)="test(responseLogIn)">Log out</a>
        </li>
      </ul>
      <br>
      <!--{{responseLogIn.headers.get('Client')}}-->
    </div>
    <!--Login forms-->
    <section>
      <modal #modal>
        <modal-body>
        <!--Login Form-->
          <div class="modal-content">
            <div class="log-in-half">
              <div class="inner-style">
                <form [formGroup]="loginForm">
                  <h5>Log in</h5>
                  <div class="form-group">
                    <input type="email" class="form-control" placeholder="email" formControlName="email">
                    <br>
                    <input type="password" class="form-control" placeholder="password" formControlName="password">
                  </div>
                  <div class="checkbox check-aling">
                    <label><input type="checkbox"> Remember me</label>
                  </div>
                  <button type="submit" class="btn btn-default" (click)="loginUser()">Submit</button>
                </form>
                <div class="error" *ngIf="errorMessage">{{errorMessage}}</div>
              </div>
            </div>
          
            <!--Sign Up Form-->
            <div class="sing-in-half">
              <div class="half-center">
                <div class="inner-style">
                  <form [formGroup]="signUpForm">
                    <h5>Sign up</h5>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="name" formControlName="name">
                      <br>
                      <input type="text" class="form-control" placeholder="nickname" formControlName="nickname">
                      <br>
                      <input type="email" class="form-control" placeholder="email" formControlName="email">
                      <br>
                      <div formGroupName="passwords">
                        <input type="password" class="form-control" placeholder="password" formControlName="password">
                        <br>
                        <input type="password" class="form-control" placeholder="confirm password" formControlName="password_confirmation">
                      </div>
                    </div>
                    <button type="submit"  class="btn btn-default" (click)="signUpUser()">Submit</button>
                    
                  </form>
                  <div class="error" *ngIf="errorMessage">{{errorMessage}}</div>
                </div>
              </div>
            </div>
          </div>
        </modal-body>
      </modal>
    </section>
</div>