
<div class="login-container">
    <!--Login forms-->
    <section>
      <modal #modallogin>
        <modal-body>
        <!--Login Form-->
          <div class="modal-content">
            <div class="log-in-half">
              <div class="inner-style">
                <form [formGroup]="loginForm">
                  <h5>Log in</h5>
                  <div class="form-group">
                    <input type="email" class="form-control" placeholder="email" formControlName="email">
                    <br>
                    <input type="password" class="form-control" placeholder="password" formControlName="password">
                  </div>
                  <div class="checkbox check-aling">
                    <label><input type="checkbox"> Remember me</label>
                  </div>
                  <button type="submit" class="btn btn-default" (click)="loginUser()">Submit</button>
                </form>
                <div class="error" *ngIf="errorMessage">{{errorMessage}}</div>
              </div>
            </div>
          </div>
        </modal-body>
      </modal>
    </section>
</div>
