.home-container {
  color: white;
  font-family: "Playfair Display", serif;
  height: 100%;
}

.navbar-login {
  margin-top: 15px;
}

.navbar-login ul {
  padding-right: 15px;
}

.navbar-login ul li {
  border-right: 1px solid white;
  margin-top: 5px;
}

.navbar-login ul li:last-child {
  border-right: none;
}

.navbar-login ul li a {
  color: white;
}

.navbar-login ul li a:hover {
  background-color: transparent;
}

.box-container {
  position: relative;
  margin-top: 40%;
}

.text-strong {
  font-weight: bold;
}

.box-menu {
  margin: auto;
  padding-left: 15%;
  padding-right: 15%;
}

.box-container img {
  margin-bottom: 30px;
}

.box-menu .list-inline li {
  border-right: 1px solid white;
  padding: 10px;
}

.box-menu .list-inline li a, .box-menu .list-inline li a:hover{
  color: white;
  text-decoration: none;
}

.box-menu .list-inline li:last-child {
  border-right: none
}

.box-search {
  margin-top: 40px;
}

.box-search .input-group input {
  box-shadow: none;
  border: none;
}

.box-search .input-group .input-group-addon {
  background-color: rgba(255, 255, 255, 0.8);
}

.border-flat {
  border-radius: 0;
}

#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url("http://www.fg-a.com/wallpapers/geo-shapes-black-1280.jpg") center;
    background-size: cover;
}
.container h1 {
    color: white;
}
