
<div class="login-container">
    <div class="login-bar" *ngIf="!responseLogIn">
      <ul>
        <li><a (click)="modal.open()">Log in</a></li>
        <li><a (click)="modal.open()" >Sign up</a></li>
      </ul>
    </div>

    <div class="login-bar" *ngIf="responseLogIn">
      <ul>
        <li>
          <a>{{responseLogIn.email}}</a>
        </li>
        <li>
          <a>Log out</a>
        </li>
      </ul>
    </div>
    <!--Login forms-->
    <section>
      <modal #modal>
        <modal-body>
          <div class="modal-content">
               <div class="log-in-half">
                   <div class="inner-style">
                       <form *ngIf="active" (ngSubmit)="onSubmit()" #loginForm="ngForm">
                         <h5>Log in</h5>

                         <div class="form-group">

                           <input type="email" class="form-control" id="email" placeholder="Email" required
                           [(ngModel)] ="modelLogin.email" name="email" #email="ngModel"
                           >
                           <!--{{modelLogin.email}}-->
                           <div [hidden]="email.valid || email.pristine"
                              class="alert alert-danger">
                              The email is required
                           </div>
                         </div>
                         <div class="form-group">
                           <input placeholder="Password" type="password" class="form-control" id="pwd" required
                           [(ngModel)] = "modelLogin.password" name="pwd" #pwd="ngModel">
                           <!--
                           <div [hidden]="password.valid || password.pristine"
                            class="alert alert-danger">
                              The password is required
                           </div>-->
                         </div>
                         <div class="checkbox check-aling">
                           <label><input type="checkbox"> Remember me</label>
                         </div>
                         <a id="log-in-button"  class="btn btn-default" type="submit"
                         (click)="loginUser(email.value,pwd.value)" >Submit</a> <!--[disabled]="!loginForm.form.valid"-->
                       </form>
                       <!--<div *ngIf="response" [ngInit]="modal.close()"></div>-->
                       <div *ngIf="close(response)"></div>
                       <div class="error" *ngIf="[(errorMessage)]">{{errorMessage}}</div>
                   </div>
               </div>

               <div class="sing-in-half">
                   <div class=" half-center">
                     <div class="inner-style">
                         <form *ngIf = "active" (onSubmit)="onSubmit()" #signUpForm="ngForm">
                           <h5>Sign up</h5>
                           <div class="form-group">

                             <input type="text" class="form-control" placeholder="Name"
                              id="name" [(ngModel)] = "modelSignUp.name" name="name" #name="ngModel">

                           </div>

                           <div class="form-group" >
                             <input type="text" placeholder="User name" class="form-control" id="nickname" [(ngModel)]="modelSignUp.userName" name="userName" #userName="ngModel">

                           </div>

                           <div class="form-group">
                             <input placeholder="Email" type="email" class="form-control"
                             id="email" required [(ngModel)] = "modelSignUp.email" name="email" #email="ngModel">
                           </div>
                           <div [hidden]="email.valid || email.pristine"
                              class="alert alert-danger">
                              The email is required
                           </div>
                           <div class="form-group">
                             <input placeholder="Password" type="password" class="form-control"
                             id="password" required [(ngModel)] = "modelSignUp.password" name="password" #password="ngModel">
                           </div>

                           <div class="form-group">
                             <input placeholder="Confirm Password" type="password" class="form-control"
                             id="confirm" required [(ngModel)] = "modelSignUp.confirm" name="confirm" #confirm="ngModel">
                           </div>

                           <a id="log-in-button" class="btn btn-default" type="submit"
                          (click)="signUpUser( name.value, userName.value, email.value, password.value, confirm.value)">Submit</a>
                         </form>
                     </div>
                   </div>
                 </div>

                 
               </div>
        </modal-body>
      </modal>
    </section>

</div>
