<div class="home-container">

  <div class="video-container">

    <video autoplay loop  id="background" muted>
        <source src="assets/videos/home_video.mp4" type="video/mp4">
    </video>
    <app-login></app-login>
    <app-info></app-info>
    
    <div class="container">
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 text-center">
        <div class="box-container">
        	<app-menu></app-menu>
          <app-barsearch></app-barsearch>
        </div>
      </div>
    </div>
  </div>
</div>
