.home-container {
  color: white;
  font-family: "Playfair Display", serif;
}


.box-container {
  position: relative;
  margin-top: 40%;
}



.video-container {
  height: 100vh;
  width: 100vw;
  position: relative;
}

#background {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    background: url("http://www.planwallpaper.com/static/images/recycled_texture_background_by_sandeep_m-d6aeau9_PZ9chud.jpg") center;
}

.team-member {
  margin-left: auto;
  margin-right: auto;
}
